<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Ebook</title>
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeMMb2bQ-NCSFGGZOtXCABXYdxQYCM3ParrUWXgC8njA&s">
    <script src="https://kit.fontawesome.com/1e7fe5f742.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row shadow">
        <div layout:replace="~{layout/layout :: header}"></div>
    </div>
    <div class="row">
        <div layout:replace="~{layout/layout :: sidebar}"></div>
        <div class="col d-flex flex-column">
            <main layout:fragment="content"></main>
            <footer layout:replace="~{layout/layout :: footer}"></footer>
        </div>
    </div>
</div>

<script th:src="@{/resources/js/jquery.min.js}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/resources/js/jquery.easing.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script th:if="${success}" th:inline="javascript">
    const success = /*[[${success}]]*/ 'default';
    Swal.fire({
        title: "Succssed!!",
        text: success,
        icon: "success",
        showConfirmButton: false,
        timer: 1500
    });
</script>

<div layout:fragment="myScript"></div>
</body>
</html>