<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<main class="row flex-grow-1 p-4 d-flex align-items-center" layout:fragment="content">
    <h2>Username: <span sec:authentication="name"></span></h2>
    <div sec:authorize="hasRole('ADMIN')">
        <h1>Welcome, Admin!</h1>
    </div>
    <div sec:authorize="hasRole('USER')">
        <h1>Welcome, User!</h1>
    </div>
</main>
</body>
</html>